<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="#">DJ TECH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Guit/Bajo</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Baterías</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Teclados</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Estudio</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Software</a></li>
        <li class="nav-item"><a class="nav-link" href="#">PA</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Luces</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">DJ</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Vídeo</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Micros</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Efectos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Vientos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tradicional</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Partit</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Estuches</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Cab</a></li>
      </ul>
      <button class="btn btn-light d-flex align-items-center">
        <span class="me-2">Ayuda</span>
        <img src="https://i.imgur.com/fakeuser1.png" class="rounded-circle" width="30" height="30">
        <img src="https://i.imgur.com/fakeuser2.png" class="rounded-circle ms-1" width="30" height="30">
        <img src="https://i.imgur.com/fakeuser3.png" class="rounded-circle ms-1" width="30" height="30">
      </button>
    </div>
  </nav>
