.hero {
    background-color: #474545;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .hero-text h1 span {
    color: #1db954;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc;
  }
  
  .btn {
    background-color: #1db954;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #169f46;
  }
  
  
  .productos {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #181818;
  }
  
  .productos h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .producto {
    background-color: #222;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .producto:hover {
    transform: scale(1.05);
  }
  
  .producto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .producto h3 {
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .producto p {
    color: #1db954;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .producto button {
    background-color: #1db954;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
 
  .sobre {
    padding: 4rem 2rem;
    background-color: #111;
    text-align: center;
  }
  
  .sobre h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .sobre p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
    color: #bbb;
  }
  
 
  .contacto {
    padding: 4rem 2rem;
    background-color: #181818;
    text-align: center;
  }
  
  .contacto h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
  }
  
  .contacto form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contacto input,
  .contacto textarea {
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: white;
  }
  
  .contacto button {
    background-color: #1db954;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }